<a href="https://colab.research.google.com/github/gustavoramos82/Classificando-Fake-News-/blob/main/Modelagem/redes_neurais_do_zero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aplicando redes neurais

Neste notebook será feito uma aplicação de redes neurais a partir do zero, sendo que será usado a blibioteca tensorflow para a aplicação de redes neurais.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from sklearn.metrics import confusion_matrix

In [2]:
news = pd.read_csv('/content/drive/MyDrive/Datasets/Fake news deep/Ouro/News.csv')
news.dropna(inplace=True)
news.drop('Unnamed: 0',axis=1,inplace=True)
news['label'] = news['label'].astype(int)
news.head()

                                               title  label
0  us budget fight loom republican flip fiscal sc...      0
1  us militari accept transgend recruit monday pe...      0
2      senior us republican senat let mr mueller job      0
3  fbi russia probe help australian diplomat tipo...      0
4  trump want postal servic charg much amazon shi...      0

In [3]:
vectorizer = TfidfVectorizer()
x = vectorizer.fit_transform(news.title)
y = news.label
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,
                                                    random_state=42)

In [4]:
# Criação do modelo
model = Sequential()
model.add(Dense(9, activation='softmax', input_dim=(x_train.shape[1])))
model.add(Dense(6, activation='softmax'))
model.add(Dense(3, activation='softmax'))
model.add(Dense(1, activation='sigmoid'))

In [5]:
model.compile(optimizer='adam', loss='binary_crossentropy',
              metrics=['accuracy',tf.keras.metrics.Precision(),tf.keras.metrics.Recall()])

In [6]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 142596

 dense_1 (Dense)             (None, 6)                 60

 dense_2 (Dense)             (None, 3)                 21

 dense_3 (Dense)             (None, 1)                 4

=================================================================
Total params: 142,681
Trainable params: 142,681
Non-trainable params: 0
_________________________________________________________________

In [7]:
model.fit(x_train.toarray(),np.int32(y_train).reshape(y_train.shape[0],1), epochs=4, batch_size=1)

Epoch 1/3
33837/33837 [==============================] - 134s 4ms/step - loss: 0.2801 - accuracy: 0.8830 - precision: 0.8921 - recall: 0.8688
Epoch 2/3
33837/33837 [==============================] - 124s 4ms/step - loss: 0.1225 - accuracy: 0.9593 - precision: 0.9595 - recall: 0.9582
Epoch 3/3
33837/33837 [==============================] - 124s 4ms/step - loss: 0.1030 - accuracy: 0.9649 - precision: 0.9661 - recall: 0.9628

In [8]:
model.evaluate(x_test.toarray(), np.int32(y_test).reshape(y_test.shape[0],1), verbose=False)

[0.1507575660943985, 0.9460992813110352, 0.945361852645874, 0.9439864158630371]

In [9]:
eva = model.evaluate(x_test.toarray(), np.int32(y_test).reshape(y_test.shape[0],1), verbose=False)
f1 = (2*eva[2]*eva[3])/(eva[2]+eva[3])
f1

0.944673633598654