<a href="https://colab.research.google.com/github/gustavoramos82/Classificando-Fake-News-/blob/main/Pr%C3%A9_processamento_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pré-processamento final

Além de um pré-processamento feito anteriormente para a pasta prata que foi a remoção de stopwords e lematização, agora vai ser feita os seguintes tratamentos:

- selecionar as noticias dos anos de 2016 e 2017

pois eesse anos tem termos da época e é a maior parte das noticias

- inserindo a label nos dataframes
- juntar os dataframes

Pois veio em dois dataframes diferentes e tem que juntar para fazer a modelagem

- selecionar o campo titulo e label

Pois são apenas esses campos que vão ser utilizados na modelagem

In [1]:
import numpy as np
import pandas as pd

In [2]:
true =  pd.read_csv(r'/content/drive/MyDrive/Datasets/Fake news deep/Prata/True_tratado.csv',lineterminator='\n')
true.drop('Unnamed: 0',axis=1,inplace=True)
true.head()

,title,text,subject,date
0,us budget fight loom republican flip fiscal sc...,washington reuter head conserv republican fac...,politicsNews,2017-12-31
1,us militari accept transgend recruit monday pe...,washington reuter transgend peopl allow first...,politicsNews,2017-12-29
2,senior us republican senat let mr mueller job,washington reuter special counsel investig li...,politicsNews,2017-12-31
3,fbi russia probe help australian diplomat tipo...,washington reuter trump campaign advis georg ...,politicsNews,2017-12-30
4,trump want postal servic charg much amazon shi...,seattlewashington reuter presid donald trump ...,politicsNews,2017-12-29

In [3]:
fake = pd.read_csv(r'/content/drive/MyDrive/Datasets/Fake news deep/Prata/Fake_tratado.csv',lineterminator='\n')
fake.drop('Unnamed: 0',axis=1,inplace=True)
fake.head()

,title,text,subject,date
0,donald trump send embarrass new year eve mess...,donald trump wish american happi new year leav...,News,2017-12-31
1,drunk brag trump staffer start russian collus...,hous intellig committe chairman devin nune go ...,News,2017-12-31
2,sheriff david clark becom internet joke threa...,friday reveal former milwauke sheriff david cl...,News,2017-12-30
3,trump obsess even obama name code websit imag,christma day donald trump announc would back ...,News,2017-12-29
4,pope franci call donald trump christma speech,pope franci use annual christma day messag reb...,News,2017-12-25

In [4]:
true['date'] = pd.to_datetime(true['date'])
true['ano'] = true['date'].dt.year
true.dropna(inplace=True)
true['ano'] = true['ano'].astype(int)
true.head()

,title,text,subject,date,ano
0,us budget fight loom republican flip fiscal sc...,washington reuter head conserv republican fac...,politicsNews,2017-12-31,2017
1,us militari accept transgend recruit monday pe...,washington reuter transgend peopl allow first...,politicsNews,2017-12-29,2017
2,senior us republican senat let mr mueller job,washington reuter special counsel investig li...,politicsNews,2017-12-31,2017
3,fbi russia probe help australian diplomat tipo...,washington reuter trump campaign advis georg ...,politicsNews,2017-12-30,2017
4,trump want postal servic charg much amazon shi...,seattlewashington reuter presid donald trump ...,politicsNews,2017-12-29,2017

In [5]:
fake['date'] = pd.to_datetime(fake['date'])
fake['ano'] = fake['date'].dt.year
fake.dropna(inplace=True)
fake['ano'] = fake['ano'].astype(int)
fake.head()

,title,text,subject,date,ano
0,donald trump send embarrass new year eve mess...,donald trump wish american happi new year leav...,News,2017-12-31,2017
1,drunk brag trump staffer start russian collus...,hous intellig committe chairman devin nune go ...,News,2017-12-31,2017
2,sheriff david clark becom internet joke threa...,friday reveal former milwauke sheriff david cl...,News,2017-12-30,2017
3,trump obsess even obama name code websit imag,christma day donald trump announc would back ...,News,2017-12-29,2017
4,pope franci call donald trump christma speech,pope franci use annual christma day messag reb...,News,2017-12-25,2017

Selecionando o ano de 2016 e 2017 do fake

In [11]:
fake = fake.query('ano>2015 & ano<2018')

In [12]:
fake.head()

,title,text,subject,date,ano
0,donald trump send embarrass new year eve mess...,donald trump wish american happi new year leav...,News,2017-12-31,2017
1,drunk brag trump staffer start russian collus...,hous intellig committe chairman devin nune go ...,News,2017-12-31,2017
2,sheriff david clark becom internet joke threa...,friday reveal former milwauke sheriff david cl...,News,2017-12-30,2017
3,trump obsess even obama name code websit imag,christma day donald trump announc would back ...,News,2017-12-29,2017
4,pope franci call donald trump christma speech,pope franci use annual christma day messag reb...,News,2017-12-25,2017

In [13]:
true.shape

(21417, 5)

In [14]:
fake.shape

(20884, 5)

In [16]:
label_true = []
for i in range(true.shape[0]):
  label_true.append(0)

In [17]:
len(label_true)

21417

In [18]:
true['label'] = label_true
true.head()

,title,text,subject,date,ano,label
0,us budget fight loom republican flip fiscal sc...,washington reuter head conserv republican fac...,politicsNews,2017-12-31,2017,0
1,us militari accept transgend recruit monday pe...,washington reuter transgend peopl allow first...,politicsNews,2017-12-29,2017,0
2,senior us republican senat let mr mueller job,washington reuter special counsel investig li...,politicsNews,2017-12-31,2017,0
3,fbi russia probe help australian diplomat tipo...,washington reuter trump campaign advis georg ...,politicsNews,2017-12-30,2017,0
4,trump want postal servic charg much amazon shi...,seattlewashington reuter presid donald trump ...,politicsNews,2017-12-29,2017,0

In [19]:
label_false = []
for i in range(fake.shape[0]):
  label_false.append(1)

len(label_false)

20884

In [20]:
fake['label'] = label_false
fake.head()

,title,text,subject,date,ano,label
0,donald trump send embarrass new year eve mess...,donald trump wish american happi new year leav...,News,2017-12-31,2017,1
1,drunk brag trump staffer start russian collus...,hous intellig committe chairman devin nune go ...,News,2017-12-31,2017,1
2,sheriff david clark becom internet joke threa...,friday reveal former milwauke sheriff david cl...,News,2017-12-30,2017,1
3,trump obsess even obama name code websit imag,christma day donald trump announc would back ...,News,2017-12-29,2017,1
4,pope franci call donald trump christma speech,pope franci use annual christma day messag reb...,News,2017-12-25,2017,1

Selecionando as colunas title e label

In [22]:
true = true[['title','label']]
true.head()

                                               title  label
0  us budget fight loom republican flip fiscal sc...      0
1  us militari accept transgend recruit monday pe...      0
2      senior us republican senat let mr mueller job      0
3  fbi russia probe help australian diplomat tipo...      0
4  trump want postal servic charg much amazon shi...      0

In [23]:
fake = fake[['title','label']]
fake.head()

                                               title  label
0   donald trump send embarrass new year eve mess...      1
1   drunk brag trump staffer start russian collus...      1
2   sheriff david clark becom internet joke threa...      1
3      trump obsess even obama name code websit imag      1
4      pope franci call donald trump christma speech      1

In [24]:
news = pd.concat([true,fake])
news.head()

                                               title  label
0  us budget fight loom republican flip fiscal sc...      0
1  us militari accept transgend recruit monday pe...      0
2      senior us republican senat let mr mueller job      0
3  fbi russia probe help australian diplomat tipo...      0
4  trump want postal servic charg much amazon shi...      0

In [25]:
news.tail()

                                                   title  label
23476  mcpain john mccain furious iran treat us sailo...      1
23477  justic yahoo settl email privaci classact  law...      1
23478  sunnistan us alli safe zone plan take territor...      1
23479   blow  million al jazeera america final call quit      1
23480   us navi sailor held iranian militari – sign n...      1

In [26]:
news.reset_index(inplace=True)
news.tail()

       index                                              title  label
42296  23476  mcpain john mccain furious iran treat us sailo...      1
42297  23477  justic yahoo settl email privaci classact  law...      1
42298  23478  sunnistan us alli safe zone plan take territor...      1
42299  23479   blow  million al jazeera america final call quit      1
42300  23480   us navi sailor held iranian militari – sign n...      1

In [27]:
news.drop('index',axis=1,inplace=True)
news.tail()

                                                   title  label
42296  mcpain john mccain furious iran treat us sailo...      1
42297  justic yahoo settl email privaci classact  law...      1
42298  sunnistan us alli safe zone plan take territor...      1
42299   blow  million al jazeera america final call quit      1
42300   us navi sailor held iranian militari – sign n...      1

In [28]:
news.shape

(42301, 2)

In [29]:
news.to_csv('News.csv')